@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}


html {
    -webkit-text-size-adjust: 100%;
}


body {
    min-height: 100vh;
    line-height: 1;
    text-rendering: optimizeSpeed;
    font-family: 'Poppins', sans-serif;
    color: #282828;
    background-color: #c7ffef;


}


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
    line-height: inherit;
    color: inherit;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}


button, [role="button"] {
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: 0;
    }
}


a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    -webkit-tap-highlight-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


ol, ul {
    list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;

    &:focus {
        outline: 0;
    }
}


::-moz-placeholder {
    opacity: 1;
}

/*textarea {*/
/*/ / move the label to the top vertical-align: top;*/

/*/ / turn off scroll bars in IE unless needed overflow: auto;*/
/*}*/


/*[type='checkbox'],*/
[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        outline: 0
    }
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
.container{
    width: 95%;
    margin: 0 auto;

}

@font-face {
    font-family: 'Simpsonfont';
    src: url('../../public/fonts/Simpsonfont DEMO.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}